@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  ;
}

.nav {
  width: 100%;
  margin: 0;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.logo-nav {
  display: flex;
}

.logo {
  margin-right: 30px;
  margin-bottom: -8px;
  z-index: 1;
}

.logo:hover {
  opacity: 80%;
}

.logo:hover {
  opacity: 80%;
}

.logo:active {
  opacity: 90%;
}

.logo-img {
  display: block;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  width: 400px;
  list-style-type: none;
}

.nav-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  padding: 20px 16px 0 16px;
  max-width: 150px;
}

.nav-link:hover {
  color:  #615048
}

.nav-link:focus {
  color: #615048
}

.nav-link:active {
  color: #756257
}

.nav-link-current[aria-current="page"]::after {
  content: "";
  display: block;
  margin-top: 21px;
  height: 2px;
  background-color: #756257;
}

.nav-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  justify-content: end;
}

.nav-user-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  padding: 22px 12px;
  min-width: 44px;
  min-height: 64px;
}

.nav-user-item:nth-child(1) {
  background-image: url(../images/icons/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  fill: #000000;
}

.nav-user-item:nth-child(2) {
  background-image: url(../images/icons/likes-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  fill: #000000;
}

.nav-user-item:not(:last-child):hover {
  opacity: 70%;
}

.nav-user-item:not(:last-child):focus {
  opacity: 70%;
}

.nav-user-item:not(:last-child):active {
  opacity: 90%;
}

.likes-number {
  position: absolute;
  min-width: 12px;
  top: 11px;
  right: 4px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 100vw;
  padding: 5px 4px;
  box-sizing: border-box;

}


.button {
  display: inline-block;
  padding: 8px 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.buttons-disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.primary-button {
  background-color: #82b3d3;
}

.primary-button:hover {
  background-color: #68a2ca;
}

.primary-button:focus {
  background-color: #68a2ca;
}

.primary-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3)
}

.primary-button:disabled {
  background-color: #e5e5e5;
}

.likes-button {
  background-color: #7db54f;
}

.likes-button:hover {
  background-color: #6c9e42;
}

.likes-button:focus {
  background-color: #6c9e42;
}

.likes-button:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3)
}

.likes-button:disabled {
  background-color: #e5e5e5;
}

.secondary-button {
  background-color: #756157;
}

.secondary-button:hover {
  background-color: #615048;
}

.secondary-button:focus {
  background-color: #615048;
}

.secondary-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.secondary-button:disabled {
  background-color: #e5e5e5;
}


.header-button {
  display: block;
  border-radius: 4px;
  width: 160px;
   margin: 14px 0 14px 20px;
  margin-left: 20px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  padding: 8px 50px;
  width: 376px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  border-style: none;
  width: 232px;
}

.filter-button {
  width: 190px;
    margin-bottom: 32px;
}

.reset-button {
  background-color: transparent;
  width: 190px;
}

.reset-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset-button:focus {
  color: rgba(255, 255, 255, 0.6);
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:disabled {
  pointer-events: none;
  opacity: 0.1;
}

.main-container {
  flex-grow: 1;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 51px 70px 82px 70px;
  background-image: url(../images/welcome-decor.svg), url(../images//index-background.jpg);
  background-size: 100%, cover;
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-color: #D4E5EF;
  color: #FFFFFF;
}


.welcome-img {
  display: block;
  margin: auto;

}

.advantages {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.lead-container {
  width: 700px;
  margin: 69px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.lead {
  display: block;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.lead-text {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  color: inherit;
  text-align: center;
}

.title {
  margin: 0;
  padding: 0;
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item > .title::after {
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  margin: 30px auto;
}

.accent-container > .title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  text-align: center;
}

.text-light {
  color: #ffffff;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  width: 100%;
}

.advantages-item-accent {
  color: #ffffff;
  background-color: #82b3d3;
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantages-img {
  display: block;
}

.advantages-img-left {
  display: block;
  order: -1;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 100%;
  padding: 112px 85px;
  box-sizing: border-box;
}

.accent-container {
  padding: 102px 85px;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}



.services {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.services-lead-container {
  width: 510px;
  margin: 64px auto;
  display: flex;
  flex-direction: column;
}

.lead-services {
  margin-bottom: 20px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 81px 85px;
  box-sizing: border-box;
}

.services-item > .title {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.item-housing:before {
  content: url(../images/icons/housing-icon.svg);
  margin-bottom: 30px;
}

.item-food:before {
  content: url(../images/icons/food-item.svg);
  margin-bottom: 30px;
}

.item-souvenir:before {
  content: url(../images/icons/souvenir-icon.svg);
  margin-bottom: 30px;
}

.search {
  width: 600px;
  margin: 96px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead-search,
.lead-subskribe {
  margin-bottom: 20px;
}

.text-search,
.text-subskribe {
  margin-bottom: 54px;
}

.subscribe {
  background-image: url(../images/subscribe-background.png);
  text-align: center;
  background-color: #c3d9eb;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 685px;
}

.text-input {
  font-family: inherit;
  color: #000000;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  border-style: none;
  padding: 12px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 30px 70px 30px 70px;
  align-items: center;

}

.social-list {

  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 145px;
}

.social-item {
  display: flex;
  width: 47px;
  height: 40px;
}

.social-icon {
  margin: auto;
  color: #83b3d3
}

.social-icon:hover{
color:#68a2ca;
}

.social-icon:focus{
  color:#68a2ca;
  }


.social-icon:active{
color: rgba(104, 162, 202, 0.3);
}

.contacts {
  flex-grow: 1;
}

.contacts-address-phone {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #000000;
}

.contacts-address-phone:hover{
color:#756157;
}

.contacts-address-phone:focus{
  color:#756157;
  }

.contacts-address-phone:active{
color: rgba(117, 97, 87, 0.3);
}

.dev-logo-link{
 color: #000000;
 text-decoration: none;
}

.dev-logo-link:hover{
  color:#756157;
}

.dev-logo-link:focus{
  color:#756157;
}

.dev-logo-link:active{
  color: rgba(117, 97, 87, 0.3);
}

/*CATALOG*/

.inner-header {
  color: #ffffff;
  background-image: url(../images/filter-background.png);
  background-color: #c3d9eb;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0;
  padding: 35px 70px 70px 70px;
}

.header-title {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  display: block;

}

.breadcrumbs-link {
  display: block;
  box-sizing: border-box;
  min-height: 30px;
  min-width: 30px;
  margin: 0;
  padding: 5px 8px 5px 20px;
  padding-block: 5px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active{
  color: rgba(117, 97, 87, 0.3);
}

.breadcrumbs-item:nth-child(1) {
  margin: 0;
  margin-left: -8px;
  mask-image: url(../images/icons/main-icon.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #ffffff;
}
.breadcrumbs-item:nth-child(1):hover{
background-color: rgba(255, 255, 255, 0.6);
}

  .breadcrumbs-item:nth-child(1):active{
    background-color: rgba(117, 97, 87, 0.3);
    }

.breadcrumbs-item:not(:first-child) {
  background-image: url(../images/icons/next-icon.svg);
  background-repeat: no-repeat;
  background-position: 2px 10px;

}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.control-input-filter {
  margin: 0;
  padding: 0;
  width: 410px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-filter-group {
  min-width: 150px;
  max-width: 170px;
  margin: 0;
  padding: 0;
  border-style: none;
  box-sizing: border-box;
}
/*
.control-input-filter:not(:first-child) {
  margin-right: 70px;
}*/

.catalog-filter-title {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.catalog-filter-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;

}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.price-container{
  margin: 0;
  margin-inline: 100px 70px;
  padding: 0;
  border-style: none;
}

.input-container {
  display: grid;
  grid-template-columns: 143px 143px;
  gap: 2px;
}

.from {
  grid-row: 1/-1;
  grid-column: 1 / 2;
  z-index: 1;
}

.input-from {
  grid-row: 1/-1;
  grid-column: 1 / 2;
}

.input-to {
  grid-row: 1/-1;
  grid-column: 2 / 3;
}

.to {
  grid-row: 1/-1;
  grid-column: 2 / 3;
  z-index: 1;
}

.control-input {
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.control-prise {
  color: rgba(104, 162, 202, 0.3);
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
  text-transform: lowercase;
  justify-self: end;
  align-self: center;
  padding-right: 20px;
  box-sizing: border-box;
}

.control-input-prise {
  display: block;
  color: #000000;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 143px;
  height: 48px;
  padding: 0;
  padding-left: 20px;
}

.button-container {
  width: 190px;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
}

.catalog-title {
  padding: 50px 70px 40px 70px;
  display: flex;
  justify-self: start;
  align-items: center;
}

.select-control {
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  cursor: pointer;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:active {
  border: 2px solid #68a2ca;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);;
  color: rgba(0, 0, 0, 0.3);;
}

.select-control:disabled {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.card-grid-toogle {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.card-grid-toogle:hover,
.card-grid-toogle:active{
  border-color: #000000;
}

.card-grid-toogle-selected {
  border-color: #000000;
}

.card-grid-toogle svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #000000;
}

.card-grid-toogle:not(:last-child) {
  margin-right: 8px;
}

.catalog {
  margin: 0;
  color: #000000;
  text-transform: uppercase;
  flex-grow: 1;
}

.select-control {
  margin-right: 70px;
  padding: 14px 20px;
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  background-color: #ffffff;
  border-radius: 4px;
}

.filtred-catalog-list {
  margin: 0;
  padding: 0;
  padding-inline: 70px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;

}

.filtred-catalog-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  padding: 20px;
  box-shadow: 0 0 0 1px #E6E6E6;
  gap: 16px 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

.card-link-img {
  grid-column: 1/-1;
}

.card-img:hover,
.card-img:focus{
  border:  1px solid #615048;
}

.card-img:active{
  opacity: 90%;
}

.card-img {
  display: block;
  box-sizing: border-box;
}

.card-title {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
}

.card-link-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  background-color: inherit;
grid-column: 1/-1;
}

.card-link-title:hover,
.card-link-title:focus{
  color: #615048;
}

.card-link-title:active{
  color: #756157;
}

.card-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.card-prise {
  text-align: right;
}

.stars{
  display: block;
  margin: 0;
  min-height: 18px;
  background-image: url(../images/icons/stars-icon.svg);
  background-repeat: no-repeat;
}

.stars-one{
  width: 23px;
}

.stars-two{
  width: 45px;
}

.stars-three{
  width: 67px;
}

.stars-four{
  width: 90px;
}

.stars-five{
  width: 115px;
}



.card-rating {
  margin: 0;
  padding-block: 9px 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  align-self: center;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-top: 40px;
  margin-inline: 70px;
  padding: 40px 0 60px 0;
  border-top: 1px solid #e6e6e6;
  list-style-type: none;

}

.pagination-button {
  display: block;
  width: 60px;
  height: 60px;
  padding: 10px 12px;
  margin-right: 8px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}

.pagination-button-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-button-current:hover{
  background-color: #e5e5e5;
}

.pagination-button-current:focus{
  background-color: #e5e5e5;
}

.pagination-button-current:active{
  color: rgba(117, 97, 87, 0.3);
  background-color: #e5e5e5;
}

.button-other-page {
  color: #000000;
  background-color: transparent;
}

.subscribe-catalog {
  background-image: none;
  background-color: inherit;
}
